# Please ignore your own custom IDE setups in the .git/info/exclude directory in your local git repository. Not all builds are happening in the same environment.
.vs

# ignore all logs
*.log

# ignore all object files (compiled object code)
*.[oa]

# ignore build output directories
/bin
/output
/target

# ignore hidden system files
.DS_Store
Thumbs.db

# ignore scons compilation file
.sconsign.dblite

# ignore executables (will have to be compiled locally anyways for alternate operating systems)
*.exe